<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcb.sys.mapper.UserMapper">
    <select id="getRoleNameByUserId" parameterType="Long" resultType="String">
        SELECT b.name
        FROM user_role a
                 LEFT JOIN role b ON a.rid = b.id
        WHERE a.uid = #{userId}
    </select>
</mapper>
